---
layout: stark
title: 主页
nav-weight: 1
nav-name: Home

header: '<!-- Contact Validation -->
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		 <!--<script type="text/javascript" src="/js/home/flickr.js"></script>-->'
---

<section class="slider">
				
	<div class="slide" id="design_and_code">
		<h2>徐恒飞的博客</h2>
		<p>Java/iOS工程师，求职@杭州</p>
	</div>
				
</section><!-- /.slider -->
			
<section class="columns-3">
				
	<article class="col">
		<h2>技术文章</h2>
		<ol>
			{% for post in site.categories.tech limit: 5 %}
				{% if forloop.index > 0 %}
					<li><a href="{{ site.base_url }}{{ post.url }}">{{post.title}}</a> <span>{{ post.date | date: "%d/%m/%Y" }}</span></li>
				{% endif %}
			{% endfor %}
		</ol>
	</article>
				
	<article class="col">
		<h2>生活随笔</h2>
		<ol>
			{% for post in site.categories.live limit: 5 %}
				{% if forloop.index > 0 %}
					<li><a href="{{ site.base_url }}{{ post.url }}">{{post.title}}</a> <span>{{ post.date | date: "%d/%m/%Y" }}</span></li>
				{% endif %}
			{% endfor %}
		</ol>
	</article>
				
	<div class="col">
		<h2>专题系列</h2>
		<ol>
			{% for post in site.categories.topic limit: 5 %}
				{% if forloop.index > 0 %}
					<li><a href="{{ site.base_url }}{{ post.url }}">{{post.title}}</a> <span>{{ post.date | date: "%d/%m/%Y" }}</span></li>
				{% endif %}
			{% endfor %}
		</ol>
	</div>
				
</section><!-- /.columns-3 -->
<!--
<section class="columns-2 dark" id="flickr">
				
	<article class="col">
		<h2>About</h2>
		<div class="wrap">
			<p>I am a Web Applications Development student who is currently studying at Plymouth University, where I am a member of the <a href="http://uopcycling.co.uk" title="University of Plymouth Cycling Club website" target="_blank">University of Plymouth Cycling Club</a>, and <a href="http://termisoc.org" title="University of Plymouth Terminal Society" target="_blank">TermiSoc</a>.</p>
			<p>During my free time I like to play with bikes, take photos and design websites. You can see details of my <a href="/resume/" title="Daniel Groves Curriculum Vitae">qualifications in my CV</a>. </p>
		</div>
	</article>
	
	<section class="col" id="flickr_content">
		<h2>Photography</h2>
		<ul class="photos">
			<li><a href="http://www.flickr.com/photos/danielsgroves/8377933124/in/photostream" title="Plymouth fireworks over the Barbian"><img src="/assets/images/home/1.jpg" alt="Plymouth fireworks over the Barbian" /></a></li>
			<li><a href="http://www.flickr.com/photos/danielsgroves/6806481847/in/photostream" title="A view from the base of Helvellyn"><img src="/assets/images/home/2.jpg" alt="A view from the base of Helvellyn" /></a></li>
			<li><a href="http://www.flickr.com/photos/danielsgroves/6826108705/in/photostream" title="Simon Humpheries riding Main Line in Cann Woods, Plymouth"><img src="/assets/images/home/3.jpg" alt="Simon Humpheries riding Main Line in Cann Woods, Plymouth" /></a></li>
			<li><a href="http://www.flickr.com/photos/danielsgroves/6826112525/in/photostream" title="Charlie Sherman riding Badger track in Cann Woods, Plymouth"><img src="/assets/images/home/4.jpg" alt="Charlie Sherman riding Badger track in Cann Woods, Plymouth" /></a></li>
			<li><a href="http://www.flickr.com/photos/danielsgroves/7088526967/in/photostream" title="Low Bank, Cumbria"><img src="/assets/images/home/5.jpg" alt="Low Bank, Cumbria" /></a></li>
		</ul>
	</section>
				
</section>--><!-- /.columns-2 -->
