
body{
	margin:0;	
}	

.planter{
	position:absolute;	
}

.card{
	width:50px;
	height:70px;
	float:left;
	margin-left:1px;
}
.card img{
	position:absolute;	
	cursor:pointer;
}
.card div{
	position:absolute;	
	background-color:#000000;
	opacity:0.5;
}

.pointer{
	cursor:pointer;
}


/*
*对话框
*/
.dialog{
	position:absolute;
	width:400px;
	overflow:hidden;
}
.dialog .header{
	width:100%;
	height:64px;
	background:url(images/dialog/dialog_header.png) no-repeat center center;
	z-index:10;	
	position:relative;
}
.dialog .bodies{
	margin:-20px 0 0;
	width:100%;
	height:100%;
	left:0px;
}	
.dialog table{
	table-layout:fixed;
	width:100%;	
	height:100%;
}
.dialog table .rowmiddle{
	height:100%;	
}	
.dialog td{
	padding:0;
}	
.dialog .topleft{
	height:97px;
	width:107px;
	background-image:url(images/dialog/dialog_topleft.png);
}
.dialog .topmiddle{
	background-image:url(images/dialog/dialog_topmiddle.png);
}	
.dialog .topright{
	width:120px;
	background-image:url(images/dialog/dialog_topright.png);
}
.dialog .centerleft{
	background-image:url(images/dialog/dialog_centerleft.png);
}
.dialog .centermiddle{
	background-image:url(images/dialog/dialog_centermiddle.png);
}
.dialog .centerright{
	background-repeat:repeat-y;
	background-image:url(images/dialog/dialog_centerright.png);
}
.dialog .bottomleft{
	height:114px;
	background-repeat:no-repeat;
	background-image:url(images/dialog/dialog_bottomleft.png);
}
.dialog .bottommiddle{
	background-image:url(images/dialog/dialog_bottommiddle.png);
}
.dialog .bottomright{
	background-image:url(images/dialog/dialog_bottomright.png);
}
.dialog-big .bottomleft{
	height:148px;
	background-image:url(images/dialog/dialog_bigbottomleft.png);
}
.dialog-big .bottommiddle{
	background-image:url(images/dialog/dialog_bigbottommiddle.png);
}
.dialog-big .bottomright{
	background-image:url(images/dialog/dialog_bigbottomright.png);
}




.hint{
	width:800px;
	height:80px;
	position:absolute;
	top:500px;
	opacity:0.5;
	text-align:center;
	font-size:40px;
	color:red;
	background-color:#000000;
}

.arrow{
	position:absolute;
}

.playground{
	position:relative;
	left:29px;
	width:770px;
	height:500px;
}

/*
进度条css
*/
.progress{
	position:absolute;
	left:600px;
	top:560px;
	width:157px;
	height:40px;
	background: url(images/progress/FlagMeterEmpty.png) no-repeat scroll 0px 17px ;
}
.progress .over{
	position:absolute;
	width:157px;
	height:40px;
	background: url(images/progress/FlagMeterFull.png) no-repeat scroll 0px 17px;	
	clip:rect(0px 157px 40px 50px);
}

.progress  .head{
	position:absolute;
	left:100px;
	top:10px;
	width:22px;
	height:22px;
	background-image:url(images/progress/FlagMeterParts1.png);
}	

/*
菜单对话框
*/
.menu {
	position:absolute;
	left:0px;
	top:0px;
	width:423px;
	height:498px;
	background-image:url(images/dialog/options_menuback.jpg);	
}	
/*
遮罩板
*/
.modal {
  position: absolute;
  z-index: 10;
  background-color: black;
  filter: alpha(opacity =                     10);
  opacity: .1;
  left: 0px;
  top: 0px;
}

/*
按钮
*/
.button{
	cursor:pointer;	
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
}
.button td{
	padding:0;
}
.button table{
	table-layout:fixed;
	width:100%;
	height:100%;	
}	
.button .text{
	top:10px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	position:absolute;
}
.button-pressed .text{
	top:12px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	position:absolute;
}
.button .buttonleft{
	height:46px;
	width:36px;
	background-image:url(images/button/button_left.png);
}
.button .buttonmiddle{
	text-align:center;
	background-image:url(images/button/button_middle.png);
}
.button .buttonright{
	width:35px;
	background-image:url(images/button/button_right.png);	
}
.button-pressed table{
	table-layout:fixed;
	width:100%;
	height:100%;	
}	
.button-pressed .buttonleft{
	background-image:url(images/button/button_down_left.png);	
}
.button-pressed .buttonmiddle{
	background-image:url(images/button/button_down_middle.png);	
}
.button-pressed .buttonright{
	background-image:url(images/button/button_down_right.png);	
}	


/*
* 帐号选择
*/
.account .head{
	width:100%;
	font-size:20;
	text-align:center;
}
.account ol{
	padding:0;
	margin:0;
	width:100%;
	cursor:pointer;	
	text-align:center;
}	
.account ul{
	padding:0;
	margin:0;
	width:100%;
}
.account ul li {
	color:white;
	cursor:pointer;
	text-align:center;
	width:100%;
}
.account ul .select{
	background-color:#14B40F;
}	
.account ul li .select{
	background-color:yellow;
}

/*
主界面
*/
.mainscreen{
	width:800px;
	height:600px;
}
.mainscreen div{
	position:absolute;	
}
.mainscreen .wood1{
	width:293px;
	height:150px;
	background-image:url(images/mainscreen/SelectorScreen_WoodSign1.png);
}
.mainscreen .wood2{
	background-image:url(images/mainscreen/SelectorScreen_WoodSign2.png);
}
.mainscreen .wood2-over{
	background-image:url(images/mainscreen/SelectorScreen_WoodSign2_press.png);
}
.mainscreen .adventure-start{
	background-image:url(images/mainscreen/SelectorScreen_StartAdventure_Button1.png);
}
.mainscreen .adventure-start-highlight{
	background-image:url(images/mainscreen/SelectorScreen_StartAdventure_Highlight.png);
}	
.mainscreen .adventure-continue{
	background-repeat:no-repeat;
	background-image:url(images/mainscreen/SelectorScreen_Adventure_button.png);
}
.mainscreen .adventure-continue-highlight{
	background-repeat:no-repeat;
	background-image:url(images/mainscreen/SelectorScreen_Adventure_highlight.png);
}	
.mainscreen .minigame{
	background-image:url(images/mainscreen/SelectorScreen_Survival_button.png);
}
.mainscreen .challenge{
	background-image:url(images/mainscreen/SelectorScreen_Challenges_button.png);
}
.mainscreen .vasebreaker{
	background-image:url(images/mainscreen/SelectorScreen_Vasebreaker_button.png);
}

/*
创建帐号窗口
*/
.newprofle div{
	text-align:center;
}

/*
游戏中的菜单
*/
.battlemenu{
	position:absolute;
	width:423px;
	height:498px;
	background-image:url(images/dialog/options_menuback.jpg);
}
.battlemenu .music{
	position:absolute;
	width:200px;
	height:50px;
	left:100px;
	top:150px;
}
.battlemenu .soundeffect{
	position:absolute;
	width:200px;
	height:50px;
	left:100px;
	top:180px;	
}	
.battlemenu .bar{
	width:135px;
	height:10px;
	float:right;
	background-image:url(images/dialog/options_sliderslot.png);	
}	
.battlemenu  .tag{
	width:	22px;
	height:29px;
	margin:-8px 0 0 0;
	background-image:url(images/dialog/options_sliderknob2.png);
}	
.battlemenu .return{
	position:absolute;
	width:360px;
	height:100px;
	left:30px;
	top:380px;
	text-align:center;
	background-image:url(images/dialog/options_backtogamebutton0.png);
}
.battlemenu .returnpressed{
	position:absolute;
	width:360px;
	height:100px;
	left:30px;
	top:380px;
	text-align:center;
	background-image:url(images/dialog/options_backtogamebutton2.png);
}

/*
卡片条
*/
.topcards{
	width:600px;
	height:87px;
	background-image:url(images/mainscreen/CardsPlace.gif);
}
/*
无敌推车
*/
.lawnmower{
	width:71px;
	height:57px;
	position:absolute;
	background-image:url(images/model/LawnMower.gif);
}

/*
获得新植物
*/
.nextguide{
	width:800px;
	height:600px;
	background-image:url(images/mainscreen/AwardScreen_Back.jpg);
	position:absolute;
	top:0px;
	left:0px;

}
.nextguide .next{
	background-image:url(images/button/SeedChooser_Button.png);
	background-repeat:no-repeat;
}

.help{
	background-image:url(images/mainscreen/help_mannal.jpg);
}

.finalwave{
	position:absolute;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(images/mainscreen/FinalWave.png);
	width:800px;
	height:600px;
	top:0px;
}

.shovel{
	cursor:pointer;
}

.ZombieEatYourBrain{
	position:absolute;
	background-image:url(images/mainscreen/ZombiesWon.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:800px;
	height:600px;
	top:0px;
}