{% include head.html %}

<section>
	<div class="title">
		<h2 class="blog">{{ page.title }}</h2>
		<p class="blog">{{ page.excerpt }}</p>
	</div><!-- /.title -->
	
	<article class="main blog">
		{{ content }}
	</article>
</section>

<hr />

<section class="main blog">
	<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"xuhengfei"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
</section>

{% include footer.html %}